#pageitemLineOne {
    width: 100vw;
    height: 75px;
    position: fixed;
    /* background-color: rgb(150, 150, 150); */
}

#overhead {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


#pageitemLineTwo {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: rgba(255, 128, 0, 0.65);
}


.boxOneitem {
    text-align: center !important;
}

.topmargin {
    padding-top: 10px;
}



@media screen and (min-width: 992px) {
    #boxOneNII {
        margin: auto;
        padding-left: 100px;
    }
    
    #Name {
        font-size: 46px;
    }
    
    .Identity {
        font-size: 20px;
    }
}
@media screen and (max-width: 992px) {
    #boxOneNII {
        margin: auto;
        padding-left: 0px;
    }
    
    #Name {
        font-size: 46px;
    }
    
    .Identity {
        font-size: 20px;
    }
}


#boxTwo {
    margin-top: 20px;
    justify-content: center !important;
    text-align: center;
    /* display: flex;
    flex-wrap: wrap; */
}

.icon {
    width: 50px;
    text-align: right;
    color: black;
}



/* #footer {
    width: 100%;
    margin-top: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(200, 200, 200, 0.65);
    color: black;
} */

.project_item_img {
    width: 125px;
    height: 100%;
    margin: auto;
    text-align: center;
}
#project_item_img_web {
    height: auto;
    max-width: 125px;
    margin-right: 0;
}
.img_box {
    text-align: center;
}

@media screen and (min-width: 992px) {
    .project_item_info {
        padding-top: 0px;
        margin-left: 0px;
    }
}
@media screen and (max-width: 992px) {
    .project_item_info {
        padding-top: 20px;
        margin-left: 0px;
    }
}

#typhoon_picture {

}