@media screen and (min-width: 992px) {
    .pageitemLine_content {
        margin-top: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        /* height: 100vh; */
        background-color: rgba(255, 255, 255, 0.65);
    }
}
@media screen and (max-width: 992px) {
    .pageitemLine_content {
        margin-top: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        /* height: 100vh; */
        background-color: rgba(255, 255, 255, 0.65);
    }
}


#pageitemLineThree {
    margin-top: 0px;
    /* margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.65); */
}

.textcard {
    margin: 5px;
    padding: 10px;
    /* border: solid;
    border-width: 1px; */
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.text_black {
    margin: 5px;
    font-size: 18px;
}
.text_title {
    font-size: 25px;
    font-weight: bold;
    color: rgba(255, 128, 0, 0.65); 
}
.section_title {
    margin-top: 35px;
    font-size: 25px;
    font-weight: bold;
    color: rgba(255, 128, 0, 0.65); 
}

@media screen and (min-width: 992px) {
    .news_item {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .project_item {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .project_item_content {
        margin-top: 10px;
    }
}
@media screen and (max-width: 992px) {
    .news_item {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .project_item {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .project_item_content {
        margin-top: 10px;
    }
}

#section_title_news {
    margin-left: auto;
    font-size: 40px;
}
#section_title_project {
    margin-left: auto;
    font-size: 40px;
}
